// Migrated from theme.json styles.blocks.core/site-title

.wp-block-site-title {
	font-weight: 700;
	letter-spacing: -0.5px;

	a:where(:not(.wp-element-button)) {
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}
