.wp-block-jetpack-mailchimp {
	input[type="email"] {
		padding: 10px;
		font-size: 1em;
	}
}

.warning-banner {
	height: 50px;
	overflow: hidden;
}

.wc-block-next-previous-buttons__icon {
	height: 14px;
}